$solid-bg-9: #00A2C7;
$low-contrast-text: #4CCCE6;
$height-contrast-text: #B6ECF7;
$ui-element-bg-3: #082C36;
$ui-hovered-bg-4: #003848;
$ui-element-border-7: #12677E;
$subtle-border-and-separator-6: #045468;

$projectTitleBackground: #8a8ab3cb;

