$darkestBlue: #03045e;
$lightestBlue: #caf0f8;
$blue: #0077b6;
$solid-bg-9: #00A2C7;
$low-contrast-text: #4CCCE6;
$height-contrast-text: #B6ECF7;
$ui-element-bg-3: #3B9EFF;
$ui-element-border-7: #12677E;

$projectTitleBackground: #8a8ab3cb;

