@import "../base/color.scss"; 

h1{
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: clamp(1.4rem, 16px + 4vw, 3rem);
    color: $height-contrast-text;
}
h2{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: clamp(1.5rem, 16px + 4vw, 1.8rem);
    color: $height-contrast-text;

}
a{
    font-family: 'Karla', sans-serif;
    font-size: clamp(1rem, 16px + 4vw, 1.3rem);
    color: $height-contrast-text;

}
p, span, li, strong, button{
    font-family: 'Merriweather', serif;
    font-size: clamp(1rem, 16px + 4vw, 1rem);
    color: $height-contrast-text;
}
* {
    letter-spacing: 1px;
}