h1{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: clamp(1.4rem, 16px + 4vw, 3rem);
}
h2{
    font-family: 'Italiana', sans-serif;
    letter-spacing: 1px;
    font-size: clamp(1.5rem, 16px + 4vw, 2.5rem);
}
a{
    font-family: 'Trykker', serif;
    font-size: clamp(1rem, 16px + 4vw, 1.3rem);
}
p{
    font-family: 'Trykker', serif;
    font-size: clamp(1rem, 16px + 4vw, 1.1rem);
}
*{
    letter-spacing: 1px;
}