//*********************************************variables********************************************
$alignments: ("center", "space-between", "space-around", "space-evenly", "flex-start", "flex-end", "left", "right", "justify");
$flexDirection: (column, row);


// ****************************flexDirection*******************************************
@mixin flexDirection{
  @each $direction in $flexDirection{
    &-#{$direction}{
      flex-direction: #{$direction};
    }
  }
}
.f-dir{
  @include flexDirection
}
// ***********************************************************************


// *****************************align******************************************
@mixin align ($propertie){
  @each $value in $alignments {
    &-#{$value} {
      align-#{$propertie}: #{$value};
    }
  }
}
.ac{
  @include align(content)
}
.ai{
  @include align(items)
}
// ***********************************************************************


// *******************************justify****************************************
@mixin justify ($propertie){
  @each $value in $alignments {
    &-#{$value} {
      justify-#{$propertie}: #{$value};
    }
  }
}
.jc{
  @include justify(content)
}
.ji{
  @include justify(items)
}
// ***********************************************************************

//******************************************Text-align*******************************
@mixin textAlign{
  @each $align in $alignments{
    &-#{$align}{
      text-align: #{$align};
    }
  }
}

.txt-align{
  @include textAlign;
}
