$colors: (
    "white" : rgb(209, 209, 209),
    "black" : rgb(59, 59, 59)
); // scss map 

@mixin color-modifiers{
    @each $name, $rgb in $colors{ // loop trough the map 
        &-#{$name}{ // generate a ruleset that references the parent selector with the & character, appends a hyphen and the color’s name, and sets the color attribute to the current rgb value.
            color: $rgb;
        }
    }
}

@mixin bgColor-modifiers{
    @each $name, $rgb in $colors{ // loop trough the map 
        &-#{$name}{ // generate a ruleset that references the parent selector with the & character, appends a hyphen and the color’s name, and sets the color attribute to the current rgb value.
            background-color: $rgb;
        }
    }
}

.text {
    @include color-modifiers;
}

.bg {
    @include bgColor-modifiers;
}