@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

h1{
    font-family: $primaryFont;
}

p{
    font-family: $secondaryFont;
}