@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes toColor {
    to{
        filter: grayscale(0%);
    }
}

@keyframes photoBlobEffect {

    0%{
        border-top-right-radius: 70%;
    }
    25%{
        border-bottom-right-radius: 70%;
    }
    50%{
        border-bottom-left-radius: 70%;
    }
    100%{
        border-top-left-radius: 70%;
    }
}

//slide up/down the contact info on mobile
// @keyframes slideUp {
//     to{
//         height: 400px;
//     }
// }
// @keyframes slideDown {
//     to{
//         bottom: -400px;
//     }
// }

//menu hamurgers animation
@keyframes line1Animation {
    0%{
        top: 0;
    }
    50%{
        top: 50%;
        transform: translateY(-50%);
    }
    70%{
        top: 50%;
        transform: translateY(-50%);
    }
    100%{
        top: 50%;
        transform: rotate(45deg);
        background: #000;
    }
}
@keyframes line2Animation {
    to{
        opacity: 0;
    }
}
@keyframes line3Animation {
    0%{
        bottom: 0;
    }
    50%{
        bottom: 50%;
        transform: translateY(-50%);
    }
    70%{
        bottom: 50%;
        transform: translateY(-50%);
    }
    100%{
        bottom: 50%;
        transform: rotate(135deg);
        background: #000;
    }
}

@keyframes line1AnimationReverse {
    0%{
        top: 50%;
        transform: rotate(45deg);
    }
    50%{
        top: 50%;
        transform: translateY(-50%);
    }
    70%{
        top: 50%;
        transform: translateY(-50%);
    }
    100%{
        top: 0;
        background: white;
    }
}
@keyframes line2AnimationReverse {
    from{
        opacity: 0s;
    }
    to{
        opacity: 1;
    }
}
@keyframes line3AnimationReverse {
    0%{
        bottom: 50%;
        transform: rotate(135deg);
    }
    50%{
        bottom: 50%;
        transform: translateY(-50%);
    }
    70%{
        bottom: 50%;
        transform: translateY(-50%);
    }
    100%{
        bottom: 0;
        background: white;
    }
}

// @keyframes openCardByAnimating{
//     to{
//         width: 80vw;
//         height: 80vh;
//     }
// }

// @keyframes dotFill {
//     to{
//         width: 100px;
//     }
// }

// @keyframes gradient {
//     0% {
//         background-position: 0% 50%;
//     }
//     50% {
//         background-position: 100% 50%;
//     }
//     100% {
//         background-position: 0% 50%;
//     }
// }