.snap-container{
    height: 100vh;
    overflow: hidden;
    // position: fixed;
    // border: 4px solid orange;
}

.snap-section {
    height: 100vh;
    scroll-snap-align: start;
    overflow-y: scroll;
    // border: 4px solid green;

}