@import "../utilities/media.scss";
@import "../utilities/key-frames.scss";
@import "../base/color.scss";

.contactContainer{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 100px 0 100px 0;
    margin-top: 50px;
    background: #0000002a;


    &__contact-form{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(370px, 100%, 400px);
        margin: 0 auto;
        height: auto;
        margin-top: 30px;
        gap: 30px;
        box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.508);
        border-top: .1px solid rgba(255, 255, 255, 0.238);
        border-left: .1px solid rgba(255, 255, 255, 0.238);
        border-radius: 10px;
        background: #011d29;
        padding: 20px 40px;

        h3{
            font-size: 2.5rem;
            color: $height-contrast-text;
        }

        #submitFormButton{
            border-radius: 10px;
            margin: 0 auto;
            color: $height-contrast-text;
            background-color: $ui-element-bg-3;
            border: 2px solid rgba(255, 255, 255, 0.389);
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1rem;
            transition: background-color 0.4s, color 0.4s, border-color 0.4s;

            @media screen and (min-height: 800px) {
                padding: 2% 5%;
            }
            
        }
        #submitFormButton:hover {
            background: $ui-hovered-bg-4;
        }
    }

    &__input-group{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        
        input, textarea{
            width: 100%;
            border: none;
            outline: none;
            padding: 0 10px;
        }

        input{
            height: 40px;
        }

        textarea{
            height: 150px;
        }
    }

    

    input:focus ~ label, /* Input has focus */
    input:not(:placeholder-shown) ~ label  /* Input has a value */  {
        transform: translateY(-45px) translateX(-5px);
        color: rgb(244, 244, 244);
    }

    textarea:focus ~ label,
    textarea:not(:placeholder-shown) ~ label  {
        transform: translateY(-100px) translateX(-5px);
        color: white;
    }

    &__label{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: gray;
        transition: transform .2s;
    }
}

