@import "../base/color";

.footer-container {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 700px) {
    justify-content: space-around;
  }

  .logo_contact-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: start;
    }

    .logo {
      img {
        width: 30vw;
      }
  
      @media only screen and (min-width: 500px) {
        top: 7px;
        img{
          width: 25vw;
        }
      }
  
      @media only screen and (min-width: 650px) {
        top: 5px;
        img{
          width: 20vw;
        }
      }
  
      @media only screen and (min-width: 850px) {
        top: 5px;
        img{
          width: 15vw;
        }
      }
  
      @media only screen and (min-width: 1100px) {
        top: 10px;
        img{
          width: 11vw;
          max-width: 173px;
        }
      }
    }

    .logo {
      font-size: clamp(1.5rem, 5vw, 2rem);
      transition: all 0.5s ease;
      background-size: 0%;
      color: white;

      .p-letter-logo {
        font-size: clamp(1.8rem, 5vw, 2rem);
        background: #000;
        padding: 5px 15px;
        border-radius: 5px;
      }
    }

    .contact-social {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      margin: 0 auto;
      gap: 20px;

      @media screen and (max-width: 700px) {
        margin: 0;
        gap: 5px;
      }

      .contact {
        display: flex;
        gap: 40px;

        @media screen and (max-width: 700px) {
          flex-direction: column;
          gap: 5px;
        }

        i {
          margin-right: 10px;
        }
      }
      .social {
        display: flex;
        gap: 30px;

        @media screen and (max-width: 700px) {
          flex-direction: column;
          align-items: start;
          gap: 5px;
          width: 100%;
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }

  #arrow-top {
    i {
      font-size: 2.5rem;

      color: white;
    }
  }
}
