@import "../../utilities/media.scss";


::-webkit-scrollbar {
    width: 0;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

  #workContainer__closeCardBackground{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: #c1c1c1a8;
    z-index: 1;

    &:hover{
        cursor: pointer;
    }
}
.workContainer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;

    &__titre{
        position: absolute;
        top: 50px;
        left: 0;
        font-size: 50px;
        color: white;
        width: 100%;
        margin-top: 0px;
        text-align: center;

        @include respond(desktop){
        }
    }

    &__slideshow{
        height: 80%;
        width: 100%;

        @include respond(desktop){
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__container{
        height: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        display: flex;
        align-items: flex-end;
        gap: 50px;

        @include respond(desktop){
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 80%;
            height: 70%;
            // gap: 10px;
        }

        .slide{
            height: 100%;
            width: 100vw;
            transition: all 0.5 ease;
            margin: 0 auto;
            
            @include respond(desktop){
                max-width: 400px;
                width: 100%;
                height: 250px;
            }
        }

        .slide0{
            grid-area: 1 / 1 / 2 / 2;
        }
        .slide1{
            grid-area: 1 / 2 / 2 / 3;
        }
        .slide2{
            grid-area: 1 / 3 / 2 / 4;
        }
        .slide3{
            grid-area: 2 / 1 / 3 / 2;
        }
        .slide4{
            grid-area: 2 / 2 / 3 / 3;
        }
        .slide5{
            grid-area: 2 / 3 / 3 / 4;
        }
    }
    &__dots{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
    
        @include respond(desktop){
            display: none;
        }
    
        .line{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            width: 100%;
            background: rgb(255, 255, 255);
        }
        
        .dot{
            background: rgb(255, 255, 255);
            border: 2px solid gray;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 2px 0;
            z-index: 2;
            margin-right: 15px;
            
            &:last-child{
                margin-right: 0;
            }
    
            &:hover{
                cursor: pointer;
            }
    
            &.activeStep, &.completed{
                background: #e1ff00;
                border: 2px solid rgb(0, 0, 0);
                // animation: fill;
                transition: border .5s;
            }
        }
    }
    &__progress{
        background: gray;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__percent{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgb(0, 0, 0);
        width: 0;
        height: 2px;
        transition: width .5s;
    }
}





